/* Reset */
*{
    margin: 0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
}

/* HEADER */

header{
    height: 100px;
    background: #4d4d5c;
    padding: 0 50px ;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    color: #6cc091;
    font-weight: 200;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    padding: 0px 10px;
    transition: 0.4s;
}
.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu{
    order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #6cc091;
}

#check{
    display: none;
}

/* BANNER */

#banner{
    padding: 0 50px;
    --s: 30px; /* control the size */
    --c1: #b2b2b2;
    --c2: #ffffff;
    --c3: #d9d9d9;
    
    --_g: var(--c3) 0 120deg,#0000 0;
    background:
    conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
    conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
    conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
    conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
    linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                            var(--c1) 0 calc(500%/6),var(--c2) 0);
    background-size: calc(1.732*var(--s)) var(--s);
    height: 45vh;
    background-size: cover;
    background-position: center;   
}
#banner::before{
    content: "";
    background: rgba(77,77,92,0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}
.contenido-banner{
    position: relative;
    color: #fff;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.contenido-banner h3{
    font-size: 30px;
    padding: 20px;
}
.contenido-banner h2{
    font-size: 20px;
    padding: 10px;
}
.contenido-banner h1{
    font-size: 30px;
    color: #6cc091;
    padding: 20px;
}
.contenido-banner .boton-empezar{
    font-size: 15px;
    color: black;
    padding: 20px 20px;
    font-weight: bold;
    border: 1px solid #6cc091;
    border-radius: 10%;
    align-self: center;
    transition: all 0.4s;
}
.boton-empezar:hover{
    background: #6cc091;
    color: antiquewhite;
}

/* Fotografias */

#contenedor-principal{
    display: flex;
}

#fotografias{
    width: 50%;
    padding: 40px 50px;
    justify-content: center;
    text-align: center;
    /* display: flex;   */
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

#fotografias img{
    width: 50%;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    /* display: flex; */
    align-items: center;
    justify-content: center;

}

#fotografias div{
    padding: 20px 10px;
}

#fotografias div p{
    padding: 20px 50px;
}

#fotografias .boton-saber-mas{
    font-size: 10px;
    color: black;
    padding: 10px 10px;
    font-weight: bold;
    border: 1px solid #6cc091;
    align-self: center;
    transition: all 0.4s;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 15px;
    margin-top: 10px;

}

#fotografias .boton-saber-mas:hover{
    background: #6cc091;
    color: white
}


/* CARD */

#card {
    /* padding: 50px 50px; */
    color: #6cc091;

    background-color: #40464b;

}

#contenedor-principal #card p{
    padding: 80% 10%;



}



/* #card img{
    width: 95%;
    border-radius: 15px 15px 15px 15px;
    object-fit: cover;
} */

/* #card div p{
    padding: 25px 50px;
    text-align: center;
    justify-content: center;
} */

/* #card .boton-saber-mas{
    font-size: 10px;
    color: black;
    padding: 10px 10px;
    font-weight: bold;
    border: 1px solid #6cc091;
    align-self: center;
    transition: all 0.4s;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 15px;
    margin-top: 10px;
} */


/* BANNER1 */
#banner1{
    background:#34414d;
    height: 100px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px 15px 0px 0px;
}

#banner2 {
    background:#34414d;
    height: 80px;
    width: 80%;
    margin-left: 10%;
    border-radius: 0px 0px 15px 15px;
}

#banner2 .email{

    color: #6cc091;
    gap: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
}

#banner2 .enviar{
    color: #6cc091;
}


/* RESPONSIVE */

@media(max-width: 1200px){
    /* HEADER */
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d5c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }

    .contenido-banner .contenido-banner-h{
        font-size: 20px;
        padding: 15px;
    }

    .contenido-banner .boton-empezar{
        font-size: 10px;
        padding: 10px;
    }

    /* FOTOGRAFIAS */

    #contenedor-principal{
        display: inline-block;
        text-align: center;  
    }

    #fotografias{
        display: inline-block;
    }

    #fotografias img{
        max-width: 80%;
        
    }

    #card img{
        max-width: 40%;
    }

}


