@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  height: 100px;
  background: #4d4d5c;
  padding: 0 50px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #6cc091;
  text-transform: uppercase;
  font-weight: 200;
}

.menu a {
  color: #fff;
  text-transform: uppercase;
  padding: 0px 10px;
  transition: 0.4s;
}

.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}

.mostrar-menu {
  order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
  color: #6cc091;
}

#check {
  display: none;
}

/* SLIDER */
.slider {
  width: 95%;
  display: grid;
  margin: auto;
  position: relative;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  width: 7000px;
  display: flex;
  animation: scroll 50s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3500px);
  }
}
.slide-e {
  width: 250px;
  display: flex;
  height: 200px;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.slide-e img {
  width: 100%;
  transition: transform 1s;
}
.slide-e img:hover {
  transform: translateZ(20px);
}

/* SLIDER - GRADIENT SHADOWS */
.slider::before,
.slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/* PIE DE PAGINA / FOOTER */
.pie-pagina {
  width: 100%;
  background: #0a141d;
}
.pie-pagina .grupo-1 {
  width: 100%;
  display: grid;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a {
  width: 45px;
  display: inline-block;
  background-color: #0d2033;
  color: #fff;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  color: #fff;
  padding: 15px 10px;
}

/* CONTACTO SUSCRIPCION */
.contact {
  background-color: #cef1dd;
  width: 70%;
}

.btn-news {
  color: #000;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid #beadad;
}
.btn-news:hover {
  transition: 0.3s all linear;
  background: hsla(39, 94%, 49%, 0.8);
  color: #000;
}

/* CONTACTO PESTAÑA*/
.contact-in-map {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  background: #454546;
}

.contact-in {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666;
}

.contact-map {
  width: 100%;
  height: auto;
  flex: 50%;
}
.contact-map iframe {
  width: 100%;
  height: 100%;
}

.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 30px;
  text-align: center;
}
.contact-form h1 {
  margin-bottom: 10px;
}

.contact-form-txt {
  width: 100%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-txt::placeholder {
  color: #aaa;
}

.contact-form-textarea {
  width: 100%;
  height: 130px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-textarea::placeholder {
  color: #aaa;
}

.contact-form-btn {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 50px;
  background: #8e2de2;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
  font-size: 18px;
}
.contact-form-btn:hover {
  transition: 0.3s all linear;
  background: hsla(39, 94%, 49%, 0.8);
  color: #000;
}

/* ENTRENAMIENTO */
.entrenamiento {
  margin-top: -40px;
  width: 90%;
  background-color: #d3e6db;
}

/* CARD ENTRENAMIENTO */
.product-card-entrenamiento {
  display: flex;
  background-color: RGB(260, 260, 235);
  transition: 0.5s;
  overflow-x: hidden;
  align-items: center;
}
.product-card-entrenamiento img {
  width: 25%;
  height: 25%;
  object-fit: cover;
}

/* REPORTAJE */
.reportaje {
  margin-top: -40px;
  width: 95%;
  background-color: #d3e6db;
}

/* CARD */
.product-card {
  background-color: rgb(245, 244, 210);
  transition: 0.5s;
  overflow-x: hidden;
}
.product-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: 0.5s;
}

.product-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  transition: 0.5s;
}

/* BANNER */
.banner {
  padding: 0px 0px;
  margin-top: -40px;
  --s: 30px; /* control the size */
  --c1: #b2b2b2;
  --c2: #ffffff;
  --c3: #d9d9d9;
  --_g: var(--c3) 0 120deg,#0000 0;
  background: conic-gradient(from -60deg at 50% 33.3333333333%, var(--_g)), conic-gradient(from 120deg at 50% 66.6666666667%, var(--_g)), conic-gradient(from 60deg at 66.6666666667%, var(--c3) 60deg, var(--c2) 0 120deg, rgba(0, 0, 0, 0) 0), conic-gradient(from 180deg at 33.3333333333%, var(--c1) 60deg, var(--_g)), linear-gradient(90deg, var(--c1) 16.6666666667%, var(--c2) 0 50%, var(--c1) 0 83.3333333333%, var(--c2) 0);
  background-size: calc(1.732 * var(--s)) var(--s);
  height: 25vh;
  background-size: cover;
  background-position: center;
}
.banner p {
  margin-top: -10px;
}

.btn-banner {
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.carousel-inner,
.carousel-item {
  width: 100%;
  height: 500px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* REPORTAJE-SP */
.reportaje-sp {
  margin-top: -40px;
  width: 90%;
}

/* CARD REPORTAJE-SP */
.product-card-reportaje {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: RGB(260, 260, 235);
  transition: 0.5s;
  overflow-x: hidden;
}
.product-card-reportaje img {
  width: 90%;
  object-fit: cover;
  align-self: center;
}

/* SOBRE NOSOTROS - US */
.contenedor {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor_tarjeta {
  margin: 20px;
  cursor: pointer;
}
.contenedor_tarjeta:hover figure {
  transform: perspective(600px) rotateY(180deg);
}
.contenedor_tarjeta:nth-child(1) figure .trasera {
  background: rgba(223, 234, 241, 0.7);
  background: linear-gradient(to bottom, rgba(223, 234, 241, 0.7) 0%, rgb(15, 99, 144) 100%);
}
.contenedor_tarjeta:nth-child(2) figure .trasera {
  background: rgba(251, 232, 202, 0.7);
  background: linear-gradient(to bottom, rgba(251, 232, 202, 0.7) 0%, rgb(25, 44, 72) 100%);
}
.contenedor_tarjeta:nth-child(3) figure .trasera {
  background: rgba(95, 58, 53, 0.7);
  background: linear-gradient(to bottom, rgba(95, 58, 53, 0.7) 0%, rgb(221, 32, 47) 100%);
}

figure {
  width: 300px;
  height: 350px;
  margin: 0;
  position: relative;
  transition: all ease 0.5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg);
}
figure .frontal {
  display: block;
  background: #000;
}
figure .trasera {
  position: absolute;
  top: 0;
  padding: 20px;
  color: #fff;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto;
}
figure .trasera .titulo {
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}
figure .trasera hr {
  height: 2px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  opacity: 0.5;
}
figure .trasera p {
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 14px;
}

figure .frontal,
figure .trasera {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: all ease 0.5s;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  /* HEADER */
  .mostrar-menu,
  .esconder-menu {
    display: block;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #4d4d5c;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  header .logo {
    z-index: 100;
  }
  .menu h2 {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  .banner p {
    font-size: 10px;
    font-weight: bold;
  }
  /* PIE DE PAGINA / FOOTER */
  .pie-pagina .grupo-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  /* ENTRENAMIENTO */
  .product-card-entrenamiento .card-title {
    font-size: 10px;
  }
  .product-card-entrenamiento .card-text {
    font-size: 10px;
  }
  .product-card-entrenamiento img {
    margin: auto;
  }
  .cuadro-entrenamiento {
    margin: auto;
  }
  .entrenamiento-card-text {
    font-size: 10px;
  }
  .entrenamiento-card-text .card-text {
    font-size: 12px;
  }
  .entrenamiento-card-text .card-title {
    font-size: 15px;
  }
  .entrenamiento .entrenamiento-e {
    font-size: 16px;
  }
  .product-card-reportaje {
    grid-template-columns: 1fr;
  }
  .product-card-reportaje img {
    width: 50%;
    object-fit: cover;
    margin: auto;
  }
  /* SOBRE NOSOTROS */
  .contenedor_tarjeta:hover figure {
    transform: perspective(600px) rotateY(180deg);
  }
}
/*En construccion*/
.under-build {
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(157, 182, 204, 0.3098039216);
}
.under-build p {
  font-family: "Caveat", cursive;
  font-size: 30px;
}
.under-build i {
  font-size: 100px;
}

/*# sourceMappingURL=style.css.map */
