/* SLIDER */

@mixin slider-a($width, $display){
    width: $width;
    display: $display;
}



.slider{
    @include slider-a(95%, grid);
    margin: auto;
    position: relative;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    @include slider-a(calc(250px * 28), flex);
    animation: scroll 50s linear infinite;
    
    &:hover{
        animation-play-state: paused;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px *14));
    }
}

.slide-e{
    @include slider-a(250px, flex);
    height: 200px;
    align-items: center;
    padding: 15px;
    perspective: 100px;

    img{
        width: 100%;
        transition: transform 1s;

        &:hover{
            transform: translateZ(20px);
        }
    }
}

/* SLIDER - GRADIENT SHADOWS */
.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, 
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}