/*En construccion*/

.under-build{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #9db6cc4f;
    

    p{
        font-family: "Caveat", cursive;
        font-size: 30px;
    }
    i{
        font-size: 100px;
    }
    }